.growing_container {
    display: flex;
    flex-wrap: wrap;
}

.growing_image {
    display: inline-block;
    margin-left: 30px;
}

.growing_title {
    color: #3347de;
    font-size: 22px;
    font-weight: 700;
}

.growing_tagline {
    color: #ffffff;
    font-size: 70px;
}

.growing_statement {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5em;
}

.image_container,
.growing_text_container {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: 300px;
}

.image_container {
    margin-right: 130px;
    opacity: 0;
    transition: opacity 250ms ease-in;
}


.image_container.fade-in {
    opacity: 1;
}