.growing_title {
    color: #3347de;
    font-size: 20px;
    font-weight: bold;
}

.growing_tagline {
    color: #ffffff;
    font-size: 60px;
}

.growing_statement {
    color: #ffffff;
    font-size: 25px;
}